.side-nav:host {
	position: fixed;
	left: 0;
	width: 290px;
	min-width: 290px; 
	/*height: 100%; */
	z-index: 100;
	overflow-x: hidden;
	background-color: #fff;
}

@media only screen and (max-width : 1023px) {
  .side-nav:host {
  	left: -290px;
  }
}

.list-group-item :first-child {
	margin-right: 2.5rem;
}
